
@import'headIntro';

main{
    .wChoose-container{
        text-align: center;
        background: $nLightGrayisBlue;
        padding: 50px 20px;
        .mainTitle-box{
            .title{
                @include title-base;
            }
            p{
                @include paragraph-base;
                margin-bottom: 50px;
            }
        }

        .grid-info{
            @include grid;
            gap:0;
            h2{
                @include title-base;
                font-size: 1.4rem;
            }
            p{
                @include paragraph-base;
                font-size: 0.9rem;
                margin: 18px 0;
            }
        }
    }
    

    .article-container{
        padding: 50px 15px;
        .title{
            @include title-base;
            text-align: center;
        }
        .art-info{
            padding: 30px 0;
            @include grid;
            gap: 10px;
            .content{
                img{
                    width: 100%;
                    max-height: 280px;
                    height: 280px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    margin: 20px 0 0;
                }
                .content-info{
                    padding: 0 15px;
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding-bottom: 10px;
                    margin-top: -4px;
                    small{
                        font-size: 0.7rem;
                        color: $nRayishBlue;
                        font-weight: 300;
                        padding-top: 20px;
                        display: block;
                    }
                    h2{
                        @include title-base;
                        font-size: 1.2rem;
                        margin: 10px 0;
                    }
                    p{
                        @include paragraph-base;
                        font-size: 0.9rem;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}


@media (min-width:992px) {
    .wChoose-container{
        text-align: left !important;
        padding: 50px 100px !important;
        .mainTitle-box{
            p{
                width: 50% !important;
            }
        }

    }
    .info-content{
        width: 80%;
    }

    .article-container{
        padding: 50px 100px !important;    
        .title{
            text-align: left !important;
        }
        .content{
            h2:hover{
                cursor: pointer;
                color: $PLimeGreen !important;
            }
        }
    }
}